html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Додав шрифт з підтримкою кирилиці */
}

body {
    background:rgb(247, 147, 164);
    background-size: cover; /* Замінив background-size на cover, щоб забезпечити повне покриття */
    text-align: center;
}

h1 {
    font-size: 70px; /* Використовуємо rem для розміру шрифту */
    text-align: center;
    margin-top: 0; /* Додав margin-top, щоб відступити від верхнього краю */
    padding-top: 20px; /* Додав padding-top, щоб зберегти відстань від верхнього краю для контенту */
}

.container {
    font-size: 1.5rem; /* Збільшив розмір шрифту для кращої читабельності */
    width: 50%; /* Збільшив ширину до 50%, щоб рівномірно розподілити контейнери */
    padding: 20px;
    box-sizing: border-box;
    display: inline-block; /* Замінив float на inline-block для кращого керування блоками */
    vertical-align: top; /* Вирівняв блоки по верхньому краю */
}
.scale{
    transition: 1.5s;
}
.scale:hover {
    transform: scale(1.2); /* Збільшення масштабу при наведенні на зображення */
}

.scale {
    width: 400px; 
    height: 500px;
}

p{
    font-size: 40px;
}

.head-photo{
    width: 600px; 
    height: 600px;
    transition: 1.5s;
}

.head-photo:hover {
    transform: scale(1.2); /* Збільшення масштабу при наведенні на зображення */
}