html, body {
    width: 99%;
    height:99%;
  }
body {
    background: linear-gradient(45deg, rgb(247, 147, 164), #ffffff);
    background-size: 200% 200%;
}

.left-conteiner {
    font-size: 50px;
    font-weight: 600;
    float: left; /* Вирівнювання зліва */
    width: 40%; /* Половина ширини батьківського контейнера */
    /*background-color: #e09696;*/
    padding: 20px;
}

.right-conteiner {
    font-size: 50px;
    font-weight: 600;
    float: right; /* Вирівнювання справа */
    width: 40%; /* Половина ширини батьківського контейнера */
   /* background-color: #e09696;*/
    padding: 20px;
}

.onscroll-hidden{
    opacity: 0;
    transition: opacity 0.5s ease;
}
.onscroll-show{
    opacity: 1;
    margin-top: 120px;
    transition-property: opacity, marign-top;
    transition-duration: 1.5s, 1s;
}
